#detailedEvent {
  justify-self: center;
  padding: 12px;
  position: sticky;
  top: 0;
  color: var(--color2);
  background-color: var(--color5);
  height: fit-content;

  h1 {
    background-color: var(--color4);
    text-align: center;
    border-radius: 10px 10px 10px 0;
    padding: 9px;
  }
  p {
    font-family: sans-serif;
  }
}