

.fc-daygrid-day-events {
  height: 100%;
  
  .fc-daygrid-event-harness {
    height: 100%;
    
    .fc-daygrid-event {
      background-color: white;
      border: none;
      height: 100%;

    }
    
  }
  
  // img {
  //   left: 50%;
  //   margin-left: -24px; 
  // }
  h2 {
    width: 100%;
  }
}
