

.fc-daygrid-day-events {
  height: 100%;
  
  .fc-daygrid-event-harness {
    height: 100%;
    
    .fc-daygrid-event {
      background-color: white;
      border: none;
      height: 100%;

    }
    
  }
  h2 {
    width: 100%;
  }
}

#calendarBox {
  padding: 9px;
  margin: 0;
  justify-self: center;
  .fc-toolbar-title {
    background-color: var(--color1);
    color: var(--color2);
    padding: 8px;
    border-radius: 15px 15px 0 15px;;
  }
  
  button.fc-today-button {
    background-color: var(--color1);
    color: var(--color2);
    padding: 8px;
  }
  
  button.fc-prev-button {
    background-color: var(--color1);
    color: var(--color2);
    padding: 8px;
  }
  button.fc-next-button {
    background-color: var(--color1);
    color: var(--color2);
    padding: 8px;
  }
}

#dashboard {
  display: grid;
  grid-template-columns: 2fr 10fr 2fr;
}

#title {
  display: block;
  text-align: center;
}


#calendarBox {
  background: #ACBDC3;
  width: 80%;
  // display grid the two components next to each other, do it
}

#event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ACBDC3;
  text-align: center;
  img {
    max-width: 80px;
  }
  button {
    margin-top: 8px;
    cursor: pointer;
    border: none;
    background-color: var(--color4);
    color: var(--color2);
    border-radius: 15px;
    font-size: smaller;
    max-width: 75%;
    min-width: fit-content;
  }
}
