@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');

body {
  box-sizing: border-box;
  font-family: 'Mountains of Christmas', cursive;

  --color1: #ef233cff;
  --color2: #d5f2e3ff;
  --color3: #73ba9bff;
  --color4: #003e1fff;
  --color5: #d90429ff;
}