#comment-list {
  border: 1px solid black;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  background-color: var(--color3);

  #scroll {
    background-color: white;
    height: 150px;
    overflow: scroll;
  }

  form {
    align-self: flex-start;
    input {
    font-family: monospace;

    }
    button {
      font-family: monospace;
      margin-left: 10px;
      background-color: var(--color4);
      color: var(--color2);
      border: none;
      border-radius: 0 10px 10px 0;
    }
  }

  .comment{
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
      padding: 5px;
      width: fit-content;
    }

  }

  .me{
    align-self: flex-end;
    margin: 10px 0 0 0;
    p {
      background-color: #5fc9f8;
      border: none;
      border-radius: 10px 10px 0 10px;
      margin: 0 0 0 0;
    }

    button {
      background-color: var(--color1);
      border: none;
      float: right;
    }

  }
  .them {
    align-self: flex-start;
    
    p{
      border: none;
      border-radius: 10px 10px 10px 0;
      background-color: lightgrey;
    }
  }
}